<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
   
<div class="signInPage">
    <h1 style="color: black;">Sign In</h1>

    <form class="signInForm" action="/users/create-session" method="POST">
        <div class="fill">
            <input type="email" name="email" placeholder="Email"  required>
            <input type="password" name="password" placeholder="Password"  required>
            <select name="role" id="" >
                <option value="Guest">Guest</option>
                <option value="Admin">Admin</option>
                <option value="Employee">Employee</option>
            </select>
        </div>
        <input type="submit" value="Sign In">
        
    
    </form>
    <p id="signUpLink">Create account: <a href="/users/signup">sign up</a></p>
</div>


</body>
</html>